##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [2]:
T=(('python',)*5)
print(T)

('python', 'python', 'python', 'python', 'python')

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [10]:
test='python'
list= []
for index,i in enumerate(test):
  if (index % 2) == 0:
    list.append(i)
print(list)

['p', 't', 'o']

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [12]:
def my_function(list):
  length=len(list)
  sum=0
  for i in list:
    sum+=i
  return sum/length

elements = [5, 7, 4, 9, 2]
my_function(elements)

5.4

### Task 4
Write code to find if the given year is a leap year or not.

In [16]:
year = 2004
if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("Leap year")
       else:
           print("Not leap year")
   else:
       print("Not leap year")
else:
   print("Not leap year")

Not leap year

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [24]:
l = [21, 6, 12, 57, 35, 61]
if len(l)>2:
    l.sort()    
    print(l[1],l[len(l)-2])
else:
    print("List too small")

12 57

##Scores

Each of the tasks is of 2 mark each and the scores will be given accordingly after the notebook review.